/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

/* Default medium */
/* CSS variables */

:root
{
	--OIBlue: #04aada;
	--OIBlack: #162c36;
	--OIGray: #40535d;
	--OITransparent: #ffffff;
	--FontRegular: Verdana;
	--FontCode: Consolas;
	/* Asher Gray */
	--EDGray: #f2f2f2;
	/* Phoenix Red */
	--EDRed: #b42126;
	/* Corbin Orange */
	--EDYellow: #f4770b;
	/* Black 6 */
	--EDBlack: #666666;
}

/* Default settings for text color, font family, font size etc. */

body,
p,
li
{
	color: #162c36;
	font-family: Verdana;
	font-size: 10pt;
	line-height: 12pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
}

/* Generic classes */

.Code
{
	mc-hyphenate: never;
	/*	background-color: var(--EDGray);
	padding: 6px; */
	font-family: Consolas;
}

.Example
{
	border: solid 2px #04aada;
	border-radius: 6px;
	margin-bottom: 0.2in;
	padding: 0.1in 0.2in;
}

.Appendix
{
	mc-auto-number-format: 'Appendix: ';
	mc-auto-number-class: Transparent;
}

/* Paragraph settings */

p.CaptionFigure
{
	page-break-after: avoid;
	mc-auto-number-format: 'GF:Figure {n+}: ';
	margin-bottom: 5pt;
	font-weight: bold;
	margin-top: 16pt;
	color: #40535d;
}

p.Indent1
{
	margin-left: 0.40in;
}

p.Indent2
{
	margin-left: 0.8in;
}

p.Indent3
{
	margin-left: 1.2in;
}

p.Procedure
{
	font-style: italic;
	font-weight: bold;
	margin-top: 12pt;
	page-break-after: avoid;
}

p.CoverTitle
{
	color: #04aada;
	text-align: center;
	padding-bottom: 55px;
	line-height: 26pt;
	font-size: 22pt;
}

p.CoverSubtitle
{
	margin-top: 7pt;
	text-align: center;
	line-height: 28pt;
	font-size: 24pt;
}

p
{
	orphans: 2;
	widows: 2;
	mc-hyphenate: never;
}

p.DocumentType
{
	font-weight: bold;
	text-align: left;
	margin-top: 0pt;
	orphans: 2;
	page-break-after: avoid;
	widows: 2;
	mc-hyphenate: never;
	mc-short-line-loosen-end-length: 11;
	mc-short-line-loosen-maximum: 4;
	mc-short-line-method: loosen-tighten;
	mc-short-line-tighten-maximum: 2;
	font-size: 22pt;
	line-height: 26pt;
	color: #40535d;
}

p.ReleaseDate
{
	font-weight: bold;
	text-align: left;
	margin-top: 12pt;
	orphans: 2;
	page-break-after: avoid;
	widows: 2;
	mc-hyphenate: never;
	mc-short-line-loosen-end-length: 11;
	mc-short-line-loosen-maximum: 4;
	mc-short-line-method: loosen-tighten;
	mc-short-line-tighten-maximum: 2;
}

p.Hyphenation
{
	mc-hyphenate: always;
	mc-hyphenate-shortest-prefix: 5;
	mc-hyphenate-shortest-word: 10;
}

p.PagebreakAfter
{
	page-break-after: always;
}

p.PagebreakAvoid
{
	page-break-after: avoid;
}

pre
{
	font-family: Consolas;
	padding: 6pt;
	border-radius: 6px;
	white-space: pre-wrap;
	word-wrap: break-word;
	orphans: 5;
	widows: 5;
	background-color: #f2f2f2;
}

/* Table settings */

caption
{
	font-size: 10pt;
	text-align: left;
	mc-auto-number-format: 'GT:Table {n+}: ';
	page-break-after: avoid;
	padding-bottom: 5pt;
	font-weight: bold;
	color: #40535d;
}

td
{
	mc-hyphenate: always;
	mc-hyphenate-shortest-word: 10;
	mc-hyphenate-shortest-prefix: 5;
}

th
{
	mc-hyphenate: always;
	mc-hyphenate-shortest-word: 10;
	mc-hyphenate-shortest-prefix: 5;
}

p.TableHyphen
{
	mc-hyphenate: always;
	mc-hyphenate-shortest-prefix: 5;
	mc-hyphenate-shortest-word: 10;
}

/* Complex selectors in tables*/

td MadCap|dropDownHotspot
{
	margin-top: 0pt;
}

/* List settings */

li.NoIndent
{
	margin-left: -12pt;
}

li
{
	orphans: 2;
	widows: 2;
}

/* Complex selectors in lists*/

ol > li > ol
{
	list-style-type: lower-alpha;
}

ol > li > ol > li > ol
{
	list-style-type: lower-roman;
}

ol ul
{
	list-style-type: disc;
}

ul ul
{
	list-style-type: disc;
}

li MadCap|dropDownHotspot
{
	margin-top: 0pt;
}

/* div styles */

div.Indent1
{
	margin-left: 0.4in;
}

div.Indent2
{
	margin-left: 0.8in;
}

div.Indent3
{
	margin-left: 1.2in;
}

div.Note
{
	border-left: solid 1px #04aada;
	margin-bottom: 6px;
	padding: 0px 6px;
}

/* Settings for headings */

h1,
h2,
h3,
h4,
h5,
h6
{
	margin-bottom: 1.25em;
	margin-top: 2em;
	color: #40535d;
}

h1
{
	color: #04aada;
	font-size: 20pt;
	line-height: 23pt;
	margin-top: 1.25em;
}

h2
{
	font-size: 18pt;
	line-height: 21pt;
	margin-top: 1.25em;
}

h3
{
	font-size: 16pt;
	line-height: 19pt;
	margin-top: 1.25em;
}

h4
{
	font-size: 14pt;
	line-height: 17pt;
	margin-top: 1.25em;
}

h5
{
	margin-bottom: 1em;
	mc-heading-level: 0;
	line-height: 14pt;
	font-size: 12pt;
	margin-top: 1.25em;
}

h6
{
	margin-bottom: 1em;
	margin-top: 1.75em;
	mc-heading-level: 0;
	line-height: 12pt;
	font-size: 11pt;
}

/* Index settings */

p.IndexHeading
{
	text-align: left;
	mc-heading-level: 1;
	margin-bottom: 0;
	font-size: 12pt;
	line-height: 14pt;
	color: #04aada;
}

p.Index1
{
	margin-top: 2pt;
}

p.Index2
{
	margin-top: 2pt;
	margin-left: .25in;
}

p.Index3
{
	margin-top: 2pt;
	margin-left: .5in;
}

/* Character format settings */

span.AllNoteStyles
{
	text-transform: uppercase;
	color: #04aada;
}

span.Red
{
	color: #b42126;
	text-transform: uppercase;
}

span.Yellow
{
	color: #f4770b;
	text-transform: uppercase;
}

span.Transparent
{
	margin-left: -10pt;
	color: transparent;
	font-size: 1pt;
}

b.UI
{
	color: #40535d;
}

i.Guide
{
	font: inherit;
}

/*Cross reference settings */

MadCap|xref
{
	mc-format: '{color #04aada;}{paratext}{/color}';
	text-decoration: none;
	color: #162c36;
}

MadCap|xref.Caption
{
	mc-format: '{color #04aada;}{paranumonly}{/color}';
}

MadCap|xref.ForMoreInfo_Caption
{
	mc-format: 'For more information, see {color #04aada;}{paranumonly}{/color}.';
}

MadCap|xref.ForMoreInfo_Heading
{
	mc-format: 'For more information, see {color #04aada;}{paratext}{/color}.';
}

MadCap|xref.HeadingOnPage
{
	mc-format: '{color #04aada;}{paratext}{/color}';
}

MadCap|xref:hover
{
	text-decoration: underline;
	color: #04aada;
}

/* Hyperlink settings */

a:link
{
	color: #04aada;
	text-decoration: none;
}

a:visited
{
	color: #04aada;
}

a:hover
{
	text-decoration: underline;
}

/* Image settings */

img.Image
{
	margin-bottom: 8pt;
}

img.Icon
{
	max-width: 13px;
	max-height: 13px;
	min-height: 13px;
	min-width: 13px;
	margin-bottom: 0pt;
}

img.inline
{
	margin-bottom: 0pt;
}

img.Big
{
	width: 75%;
	margin-bottom: 8pt;
}

img.Medium
{
	width: 50%;
	margin-bottom: 8pt;
}

img.Small
{
	width: 10%;
	margin-bottom: 8pt;
}

/* Drop-down settings */

/*
MadCap|dropDownHead
{
	color: var(--OIBlue);
	margin-top: 1em;
	page-break-after: avoid;
}
*/

MadCap|dropDownHotspot
{
	color: #04aada;
	margin-top: 1em;
	page-break-after: avoid;
}

/* Mini TOC settings */

MadCap|miniTocProxy
{
	border-top-style: none;
	padding-top: 0px;
	mc-toc-depth: 2;
	text-align: left;
	color: #04aada;
}

p.MiniTOC1,
p.MiniTOC2
{
	mc-pagenum-display: none;
	color: #04aada;
	display: list-item;
	list-style-type: disc;
	font-weight: inherit;
}

/* Glossary settings */

MadCap|glossaryTerm
{
	font-weight: inherit;
	color: #162c36;
}

MadCap|popupBody
{
	color: #162c36;
	font-weight: normal;
}

div.GlossaryPageHeading
{
	font-size: 12pt;
	line-height: 14pt;
	border-bottom-style: none;
	color: #04aada;
}

div.GlossaryPageTerm
{
	font-size: 10pt;
	margin-top: 5pt;
	line-height: 11pt;
}

div.GlossaryPageDefinition
{
	font-size: 10pt;
	margin-top: 2pt;
	line-height: 11pt;
}

/* Breadcrumb settings */

MadCap|breadcrumbsProxy
{
	border-bottom-width: 1px;
	padding-bottom: 10px;
	border-bottom-style: solid;
	mc-breadcrumbs-prefix: '';
	border-bottom-color: #162c36;
	font-family: Verdana;
}

/* Topic toolbar settings */

MadCap|topicToolbarProxy
{
	margin-bottom: 5px;
	border-bottom: none 1px #000000;
}

/* Toggler settings */

MadCap|toggler
{
	color: #04aada;
}

/* hidden styles */

div.Note,
label,
q,
p.ContentsHeading,
p.CoverTitle,
p.CoverSubtitle,
p.IndexHeading,
p.Index1,
p.Index2,
p.Index3,
p.InsideCoverText,
p.InsideCoverTitle,
p.MiniTOC1,
p.MiniTOC2,
p.TOC1,
p.TOC2,
p.TOC3,
p.TOC4,
p.ChapterNumber,
span.AllNoteStyles,
span.boolean,
span.Red,
span.state,
span.Transparent,
span.Yellow,
div.InsideCoverText,
address,
button,
cite,
blockquote,
caption,
code,
menu,
abbr,
acronym,
big,
del,
dl,
em,
form,
small,
area,
kbd,
s,
samp,
strike,
strong,
tt,
var,
fieldset,
ins,
MadCap|helpControlMenuItem,
MadCap|slideThumbnail,
MadCap|xref.ConceptPageNumber,
MadCap|xref.IndexPageNumber,
MadCap|xref.ListOfPageNumber
{
	mc-hidden: hidden;
}

/* Settings, that are not used any longer. They can probably be deleted. */

MadCap|helpControlMenuItem.Highlighted
{
	background-color: #04aada;
}

MadCap|bodyProxy
{
	font-family: Verdana;
}

MadCap|relatedTopics
{
	color: #04aada;
}

MadCap|shortcut
{
	color: #04aada;
}

MadCap|conceptLink
{
	color: #04aada;
}

MadCap|keywordLink
{
	color: #04aada;
}

/* Print settings */

@media print
{
	/* Generic classes */

	.Example
	{
		padding: 0.2in;
	}

	/* Paragraph settings */

	body,
	p
	{
		mc-hyphenate: never;
		mc-short-line-tighten-maximum: 2;
		mc-short-line-method: loosen-tighten;
		mc-short-line-loosen-end-length: 11;
		mc-short-line-loosen-maximum: 4;
		orphans: 2;
		widows: 2;
	}

	p.ChapterNumber
	{
		font-weight: bold;
		color: #04aada;
		line-height: 26pt;
		font-size: 24pt;
	}

	p.ContentsHeading
	{
		font-weight: bold;
		color: #40535d;
		font-size: 20pt;
		line-height: 24pt;
		margin-bottom: 1.5em;
		margin-top: 2em;
	}

	p.InsideCoverTitle
	{
		font-weight: bolder;
		font-size: 9pt;
	}

	p.InsideCoverText
	{
		font-size: 9pt;
		margin-top: 6pt;
		line-height: 9pt;
	}

	p.DocumentType
	{
		font-size: 20pt;
		line-height: 24pt;
		margin-bottom: 1.5em;
		margin-top: 2em;
	}

	/* Table settings */

	th
	{
		page-break-inside: avoid;
		page-break-after: avoid;
	}

	/* Complex selectors */

	td p.Procedure
	{
		margin-top: 6pt;
	}

	td MadCap|dropDownHotspot
	{
		font-size: 11pt;
		line-height: 12pt;
	}

	li MadCap|dropDownHotspot
	{
		color: #162c36;
		font-weight: normal;
		font-size: 10pt;
	}

	/* div styles */

	div.InsideCoverText
	{
		font-size: 9pt;
	}

	/* Settings for headings */

	h2,
	h3,
	h4,
	h5,
	h6
	{
		font-weight: bold;
		mc-hyphenate: never;
		page-break-after: avoid;
	}

	h1
	{
		mc-hyphenate: never;
		page-break-after: avoid;
		text-align: right;
		font-size: 22pt;
		line-height: 26pt;
		margin-bottom: 2em;
		margin-top: 2em;
	}

	h1.BackMatterHeading
	{
		color: #162c36;
		margin-bottom: 25pt;
		font-size: 20pt;
		font-weight: bold;
		text-align: left;
		mc-hidden: hidden;
	}

	h1.BackMatterTitle
	{
		display: none;
		mc-heading-level: 1;
		mc-hidden: hidden;
		margin-bottom: 0;
		line-height: 0pt;
	}

	h1.BackMatterChapterNumber
	{
		mc-hidden: hidden;
		font-size: 1pt;
		line-height: 1pt;
		margin-top: 15pt;
		color: #ffffff;
	}

	h1.IndexChapterNumber
	{
		mc-hidden: hidden;
		font-size: 1pt;
		line-height: 1pt;
		margin: -48em 0px 0px;
		color: #ffffff;
	}

	h1.RN_HotFix
	{
		text-align: left;
	}

	h2
	{
		font-size: 20pt;
		line-height: 24pt;
		margin-bottom: 1.5em;
		margin-top: 2em;
	}

	h3
	{
		font-size: 18pt;
		line-height: 22pt;
		margin-bottom: 1.5em;
		margin-top: 2em;
	}

	h4
	{
		font-size: 16pt;
		line-height: 20pt;
		margin-bottom: 1.5em;
		margin-top: 2em;
	}

	h5
	{
		font-size: 14pt;
		line-height: 18pt;
		margin-bottom: 1.25em;
		margin-top: 2em;
	}

	h6
	{
		line-height: 14pt;
		margin-top: 2em;
		margin-bottom: 1.25em;
	}

	/* Cross references settings */

	MadCap|xref.Caption
	{
		mc-format: '{color #04aada;}{paranumonly}{/color} on page {color #04aada;}{page}{/color}';
	}

	MadCap|xref.ForMoreInfo_Heading
	{
		mc-format: 'For more information, see {color #04aada;}{paratext}{/color} on page {color #04aada;}{page}{/color}.';
	}

	MadCap|xref.ForMoreInfo_Caption
	{
		mc-format: 'For more information, see {color #04aada;}{paranumonly}{/color} on page {color #04aada;}{page}{/color}.';
	}

	MadCap|xref.HeadingOnPage
	{
		mc-format: '{color #04aada;}{paratext}{/color} on page {color #04aada;}{page}{/color}';
	}

	/* Image settings */

	img
	{
		max-width: 99%;
		page-break-before: avoid;
	}

	/* Drop-down settings */

	MadCap|dropDownHotspot
	{
		color: #40535d;
		font-weight: bolder;
		margin-top: 2em;
		font-size: 11pt;
		line-height: 14pt;
	}

	/* TOC settings */

	p.TOC1
	{
		margin-top: 12pt;
	}

	p.TOC2
	{
		margin-top: 3pt;
		margin-left: 0pt;
	}

	p.TOC3
	{
		margin-top: 2pt;
		margin-left: 10pt;
	}

	p.TOC4
	{
		margin-left: 20pt;
	}

	/* Mini TOC settings */
	/* Index settings */

	p.IndexHeading
	{
		margin: 3em 0px 1em;
	}

	/* Glossary settings */

	div.GlossaryPageHeading
	{
		color: #04aada;
	}

	/* MadCap Proxy settings */

	MadCap|indexProxy,
	MadCap|glossaryProxy,
	MadCap|tocProxy
	{
		border-top-style: none;
		border-top-width: 0px;
	}
}

/* Non-print settings */

@media non-print
{
	/* Paragraph settings */

	p.ReleaseDate
	{
		line-height: 12pt;
	}

	/* Table settings */
	/* Complex selectors */

	td p.Procedure
	{
		margin-top: 3px;
	}

	/* Cross reference settings */
	/* Hyperlink settings */
	/* Settings for headings */

	h1.BackMatterTitle
	{
		font-size: 20pt;
		line-height: 22pt;
		color: #162c36;
	}

	h1.BackMatterChapterNumber
	{
		font-size: 20pt;
		line-height: 22pt;
		color: #04aada;
		margin-bottom: 1pt;
	}

	h1.RN_HotFix
	{
		text-align: left;
	}

	/* Glossary settings */

	div.GlossaryPageHeading
	{
		color: #04aada;
	}

	/* Breadcrumb settings */

	MadCap|breadcrumbsProxy
	{
		mc-breadcrumbs-prefix: '';
	}
}

p.ReleaseDate
{
	line-height: 12pt;
}

td p.Procedure
{
	margin-top: 3px;
}

h1.BackMatterTitle
{
	font-size: 20pt;
	line-height: 22pt;
	color: #162c36;
}

h1.BackMatterChapterNumber
{
	font-size: 20pt;
	line-height: 22pt;
	color: #04aada;
	margin-bottom: 1pt;
}

h1.RN_HotFix
{
	text-align: left;
}

div.GlossaryPageHeading
{
	color: #04aada;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: '';
}

